* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.App {
  position: relative;
}
.paddings {
  padding: 5rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: rgb(16, 16, 17);
  font-size: 2.2rem;
}
.header {
  background-color: rgb(127, 238, 255);
}
.movie {
  color: black;
  background-color: rgb(221, 214, 214);
  border: 2px solid black;
  font-weight: bold;
  text-align: center;
  width: 17.5rem;
  margin-top: 3rem;
  margin-right: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
}
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}
.movie img {
  width: 280px;
  height: 75%;
}
@media (min-width: 500px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
  }
  
}
@media (max-width: 500px) {
  .main {
    display: flex;
    justify-content: center;
  }
  .movie {
    width: 12rem;
    margin-top: 3rem;
    margin-right: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
  }
  .movie img {
    width: 12rem;
    height: 76%;
  }

}
